@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , violet);
    background: -o-linear-gradient(right, orange,  violet);
    background: -moz-linear-gradient(right, orange, violet);
    background: linear-gradient(to right, orange , violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Logo Positioning */


h2{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 1.2rem;
    color: white;
    font-family: 'Poppins', sans-serif;

}


/* Nav Bar */
.nav-bar{
    text-decoration: none;
}

nav {
    position: absolute;
    top: 40px; 
    right: 125px; 
}

nav ul {
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 1px 25px;
}

nav ul li a:hover {
    background-color: white;
    border-radius: 8px;
    color: black;
}

.login-btn{
    padding : 10px 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 22px;
    border-radius: 8px;
}

.center-square {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;  
    height: 50%; 
    margin: 150px auto 0; 
  
}


.center-square2 {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;  
    height: 50%; 
    margin: 25px auto 0; 
    padding-bottom: 30px;
}

.center-square3 {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;  
    height: 200px; 
    margin: 25px auto 0; 
    padding-bottom: 50px;
    
}
.large-text {
    font-size: 4em; 
}
.special-font {
    font-family: Arial, sans-serif; 
}

.modern-button {
    background-color: #3379e9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
.image{
    width: 75%;
    height: 75%;
    object-fit: cover;
}